<?xml version="1.0"?>
<config>
	<app framerate_cap="60">
		<title>Audio Research</title>
		<organization>Ricardo Gutierrez Llenas</organization>
	</app>
	<renderer>
		<vsync value="true" />
	</renderer>
	<ui>
		<atlas file="textures/ui/ui_atlas.png" />
	</ui>
	<window>
		<resolution width="1024" height="760" scale="3" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<music fx="100" music="100"></music>
	
</config>
